.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 100%;
    background: #001529;
}

.logo {
    width: 120px;
    margin: 20px auto;
}

.logout_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    text-align: center;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('http://www.lsshuai.com/static/images/avatar.jpg');
    background-size: cover;
    margin-right: 20px;
}